---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  google-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  portability-*,
  cert-*,
  android-*,
  llvm-*,
  mpi-*,
  openmp-*,
  fuchsia-*,
  zircon-*,
  abseil-*,
  darwin-*,
  concurrency-*,
  security-*,
  nullability-*,
  core-*,
  readability-uppercase-literal-suffix,
  readability-avoid-const-params-in-decls,
  readability-function-cognitive-complexity

WarningsAsErrors: >
  *
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - { key: readability-identifier-naming.VariableCase, value: camelCase }
  - { key: readability-identifier-naming.FunctionCase, value: camelCase }
  - { key: readability-identifier-naming.ClassCase, value: PascalCase }
  - { key: readability-identifier-naming.StructCase, value: PascalCase }
  - { key: readability-identifier-naming.EnumCase, value: PascalCase }
  - { key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.MacroCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.ParameterCase, value: camelCase }
  - { key: readability-identifier-naming.PrivateMemberCase, value: camelCase }
  - { key: readability-identifier-naming.ProtectedMemberCase, value: camelCase }
  - { key: readability-identifier-naming.PublicMemberCase, value: camelCase }
  - { key: readability-identifier-naming.LocalVariableCase, value: camelCase }
  - { key: readability-identifier-naming.LocalConstantCase, value: camelCase }
  - { key: readability-function-cognitive-complexity.Threshold, value: 25 }
